.container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px 0;
  justify-content: space-between;
  margin-top: 30px;
}

.hourCard {
  width: 90px;
  background: linear-gradient(160deg, #1e3c72, #2a5298);
  border-radius: 16px;
  padding: 10px;
  text-align: center;
  color: #fff;
  flex-shrink: 0;
  font-family: "Montserrat", sans-serif;
}

.time {
  font-size: 14px;
  margin-bottom: 5px;
}

.weatherIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.degrees {
  font-size: 16px;
  font-weight: 500;
}
