.card {
    background: linear-gradient(160deg, #1e3c72, #2a5298);
    border-radius: 24px;
    padding: 20px 30px;
    width: 100%;
    max-width: 800px;
    height: 400px;
    color: #f5f7fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
  
    box-shadow:
      0 12px 35px rgba(0, 0, 0, 0.6),
      0 8px 20px rgba(0, 0, 50, 0.4),
      inset 0 0 25px rgba(255, 255, 255, 0.08);
  
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
  }

  .title {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
  }