.hourlyContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 40px;
    overflow-x: auto;
  }
  
  .hourCard {
    width: 90px;
    height: 115px;
    background: #2a5298;
    border-radius: 16px;
    flex-shrink: 0;
    animation: pulse 1.2s infinite;
  }
  