.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between; /* слева ссылка, справа заголовок и кнопка */
  align-items: center;
  margin-bottom: 20px;
}

.headerLeft {
  margin-top: 46px;
  display: inline-block;
  padding: 8px 16px;
  background-color: #555;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.headerLeft:hover {
  text-decoration: underline;
}

.headerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* сдвигаем вправо */
}

.title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}

.clearButton {
  display: inline-block;
  padding: 8px 16px;
  background-color: #555;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.clearButton:hover {
  background-color: #777;
}

.noHistoryTitle {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
  margin-right: 50px;
}

.card {
  background: #1e3c72;
  color: white;
  padding: 15px 20px;
  border-radius: 12px;
  margin-bottom: 10px;
  width: 100%;
}

.wrapper{
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 45px;
  margin: 25px auto;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  background-color: #D9D9D9;
  }

.input{
  width: 100%;
  height: 100%;
  padding: 0 40px;
  border: none;
  border-radius: 12px;
  background-color: #D9D9D9;
  font-size: 16px;
  outline: none;
  color: #252323;
}

.searchClearIcon{
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #D9D9D9;
}
