.warpper{
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 45px;
    margin: 25px auto;
}

.searchIcon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
    background-color: #D9D9D9;
    }

.input{
    width: 100%;
    height: 100%;
    padding: 0 40px;
    border: none;
    border-radius: 12px;
    background-color: #D9D9D9;
    font-size: 16px;
    outline: none;
    color: #252323;
}

.searchClearIcon{
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #D9D9D9;
}