* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #252323; 
  color: white;              
}

#root {
  max-width: 1200px;  
  margin: 0 auto;     
  padding: 20px;      
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appContainer {
  background-color: #252323;
  border-radius: 30px;
  padding: 40px;
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  color: white;
  margin: 0 auto;
}
